@charset "UTF-8";

* {
    font-family: Arial Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right,#8C713E,#F2F2F2);
}

main{
    border-radius: 10px;
    background-color: white;
    box-shadow: 5px 5px 3px #876f423e;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #8C713E;
    text-align: center;
    text-shadow: 1px 1px 2px #281c05b5;
}

h2{
    color: #A6977B
}
p{
    text-align: justify;
}